<?xml version="1.0"?>

<robot name="building_simple" xmlns:xacro="http://ros.org/wiki/xacro">
  <static>true</static>

  <xacro:include filename="$(find four_wheel_drive_independent_steering)/urdf/common.xacro"/>
  <xacro:macro name="building">
    <link name="building">
      <visual>
        <origin xyz="-5 -5 0" rpy="${M_PI/2} 0 0"/>
        <geometry>
          <mesh filename="package://four_wheel_drive_independent_steering/meshes/STL/building_simple.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="blue">
          <color rgba="0 0 0.7 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="-5 -5 0" rpy="${M_PI/2} 0 0"/>
        <geometry>
          <mesh filename="package://four_wheel_drive_independent_steering/meshes/STL/building_simple.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="-5 -5 0" rpy="${M_PI/2} 0 0"/>
        <mass value="10000"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
    </link>
  </xacro:macro>

  <xacro:building/>
</robot>
