<launch>

  <include file="$(find four_wheel_drive_independent_steering)/launch/base_gazebo.launch"/>

  <node pkg="four_wheel_drive_independent_steering" name="teleop_joy" type="teleop_joy"/>

  <node pkg="joy" name="joy_node" type="joy_node">
    <param name="dev" value="/dev/input/js2"/>
  </node>

</launch>
