<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find four_wheel_drive_independent_steering)/urdf/common.xacro"/>
  <xacro:macro name="base" params="parent *joint_origin">
    <joint name="base_link_joint" type="fixed">
      <insert_block name="joint_origin"/>
      <parent link="${parent}"/>
      <child link="base_link"/>
    </joint>

    <link name="base_link">
      <visual>
        <origin xyz="0.200 -0.630 0.060" rpy="${M_PI/2} 0 ${M_PI/2}"/>
        <geometry>
          <mesh filename="package://four_wheel_drive_independent_steering/meshes/STL/base.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.200 -0.630 0.060" rpy="${M_PI/2} 0 ${M_PI/2}"/>
        <geometry>
          <mesh filename="package://four_wheel_drive_independent_steering/meshes/STL/base.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0.200 -0.630 0.060" rpy="${M_PI/2} 0 ${M_PI/2}"/>
        <box_inertial mass="5.0" height="0.5" width="0.5" depth="0.5"/>
        <mass value="43.24"/>
        <inertia ixx="4.115" ixy="0" ixz="0" iyz="0" iyy="4.207" izz="4.076"/>
      </inertial>
    </link>

  </xacro:macro>

  <xacro:macro name="base_gazebo">
    <gazebo reference="base_link">
      <selfCollide>false</selfCollide>
      <mu1 value="0.05"/>
      <mu2 value="0.05"/>
    </gazebo>

  </xacro:macro>

</robot>
