<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find four_wheel_drive_independent_steering)/urdf/common.xacro"/>

  <xacro:macro name="hokuyo" params="prefix parent *joint_origin">

  <joint name="lrf_joint" type="fixed">
    <xacro:insert_block name="joint_origin"/>
    <parent link="${parent}"/>
    <child link="laser"/>
  </joint>

  <link name="laser">
    <visual>
      <geometry>
        <mesh filename="package://four_wheel_drive_independent_steering/meshes/STL/lrf.stl"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <mesh filename="package://four_wheel_drive_independent_steering/meshes/STL/lrf.stl"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 -0.0164"/>
      <box_inertial mass="0.4" height="0.07" width="0.07" depth="0.08"/>
    </inertial>

  </link>

  </xacro:macro>

  <xacro:macro name="hokuyo_gazebo" params="prefix min_rad max_rad min_range max_range">

    <gazebo reference="laser">
      <sensor type="ray" name="lrf_sensor">
        <pose>0 0 0 0 0 0</pose>
        <visualize>true</visualize>
        <update_rate>40</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>720</samples>
              <resolution>1</resolution>
              <min_angle>${min_rad}</min_angle>
              <max_angle>${max_rad}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>${min_range}</min>
            <max>${max_range}</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.03</stddev>
          </noise>
        </ray>
        <plugin name="gazebo_ros_lrf_controller" filename="libgazebo_ros_laser.so">
          <topicName>/scan</topicName>
          <frameName>laser</frameName>
        </plugin>
      </sensor>
    </gazebo>

  </xacro:macro>

</robot>
