<?xml version="1.0"?>

<launch>

    <arg name="hz" default="20"/>
    <arg name="map_width" default="10"/>
    <arg name="resolution" default="0.1"/>
    <arg name="cost_collision" default="90"/>
    <arg name="min_cost" default="10"/>
    <arg name="max_cost" default="100"/>

    <group ns="local_costmap_generator">

        <node pkg="dynamic_obstacle_avoidance_planner" name="local_costmap_generator" type="local_costmap_generator" output="screen">
            <param name="HZ" value="$(arg hz)"/>
        </node>

        <node pkg="dynamic_obstacle_avoidance_planner" name="dynamic_local_costmap_generator" type="dynamic_local_costmap_generator" output="screen">
            <param name="HZ" value="$(arg hz)"/>
            <param name="MAP_WIDTH" value="$(arg map_width)"/>
            <param name="RESOLUTION" value="$(arg resolution)"/>
            <param name="COST_COLLISION" value="$(arg cost_collision)"/>
            <param name="MIN_COST" value="$(arg min_cost)"/>
            <param name="MAX_COST" value="$(arg max_cost)"/>
        </node>

    </group>

</launch>
