<?xml version="1.0"?>

<launch>

    <rosparam command="load" file="$(find dynamic_obstacle_avoidance_planner)/config/dynamic_avoidance.yaml"/>
    <rosparam command="load" file="$(find dynamic_obstacle_avoidance_planner)/config/fwdis.yaml"/>

    <include file="$(find dynamic_obstacle_avoidance_planner)/launch/fwdis_mpc.launch"/>

</launch>
