<launch>

  <arg name="_HORIZON_T" default="15"/>
  <arg name="_DT" default="0.1"/>
  <arg name="_VREF" default="0.5"/>

  <node pkg="four_wheel_drive_independent_steering" name="diff_drive_mpc" type="diff_drive_mpc" output="screen">
    <param name="HORIZON_T" value="$(arg _HORIZON_T)"/>
    <param name="DT" value="$(arg _DT)"/>
    <param name="VREF" value="$(arg _VREF)"/>
  </node>

</launch>
